<!DOCTYPE html>
<html>
<head>
  <title>Sessions</title>
</head>
<body>
  <%= yield %>

  <div id="nav" style="margin-top: 50px;">
    <a href="/signup">Need to sign up?</a>
    <form action="/logout" method="post" style="display:inline;">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  </div>
</body>
</html>
