<form action="/users" method="post">
  username: <input name="username"><br>
  password: <input name="password" type="password"><br>
  password confirmation: <input name="password_confirmation" type="password"><br>
  <input type="submit">
</form>
